.container {
  text-align: center;
  justify-content: center;
  align-items: center; 
}
input[type=checkbox]{
  width: 20px;
  height: 30px;
  margin: 10px ;

}
label {
  font-size: 20px;
  margin: 5px 0;
  
}
.input-item{
  
  display:flex;
  justify-content: center;
  align-items: center;
}

.select{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

 




 
